set default=0
set timeout=5

menuentry "FVAIOS Live" {
    linux /boot/vmlinuz-lts modprobe.blacklist=pcspkr,snd_pcsp
    initrd /boot/initramfs-lts
}

menuentry "FVAIOS Live (RAM)" {
    linux /boot/vmlinuz-lts modprobe.blacklist=pcspkr,snd_pcsp
    initrd /boot/initramfs-lts
}

menuentry "FVAIOS Live (Text Mode)" {
    linux /boot/vmlinuz-lts modprobe.blacklist=pcspkr,snd_pcsp console=ttyS0,115200
    initrd /boot/initramfs-lts
}

menuentry "FVAIOS Live (Verbose)" {
    linux /boot/vmlinuz-lts modprobe.blacklist=pcspkr,snd_pcsp debug
    initrd /boot/initramfs-lts
}
